# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @dotnet/product-construction and @dotnet/source-build will be
# requested for review when someone opens a pull request.
* @dotnet/product-construction @dotnet/source-build

# Exclude the src folder which is team specific
/src/

# Exclude forward flow file changes to common files to reduce noise.
/src/source-manifest.json
/prereqs/git-info/
