# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @dotnet/product-construction and @dotnet/source-build will be
# requested for review when someone opens a pull request.
* @dotnet/product-construction @dotnet/source-build

# We must guard against these files being created temporarily (https://github.com/dotnet/source-build/issues/4491)
/prereqs/git-info/ @premun

# Exclude the src folder which is team specific
/src/

# Explicitly exclude source-manifest.json which gets updated with every
# forward flow PR.
/src/source-manifest.json
