[submodule "application-insights"]
	path = src/application-insights
	url = https://github.com/microsoft/ApplicationInsights-dotnet
[submodule "cssparser"]
	path = src/cssparser
	url = https://github.com/dotnet/cssparser
[submodule "humanizer"]
	path = src/humanizer
	url = https://github.com/Humanizr/Humanizer
[submodule "newtonsoft-json"]
	path = src/newtonsoft-json
	url = https://github.com/JamesNK/Newtonsoft.Json.git
[submodule "MSBuildLocator"]
	path = src/MSBuildLocator
	url = https://github.com/microsoft/MSBuildLocator
[submodule "azure-activedirectory-identitymodel-extensions-for-dotnet"]
	path = src/azure-activedirectory-identitymodel-extensions-for-dotnet
	url = https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet.git
[submodule "docker-creds-provider"]
	path = src/docker-creds-provider
	url = https://github.com/mthalman/docker-creds-provider
[submodule "xunit"]
	path = src/xunit
	url = https://github.com/xunit/xunit
[submodule "abstractions-xunit"]
	path = src/abstractions-xunit
	url = https://github.com/xunit/abstractions.xunit
[submodule "vs-solutionpersistence"]
	path = src/vs-solutionpersistence
	url = https://github.com/microsoft/vs-solutionpersistence.git
