###############################################################################
# Build Artifacts
###############################################################################
artifacts/
bin/
obj/
.dotnet/
.packages/
msbuild.binlog

###############################################################################
# Visual Studio
###############################################################################
.vs/

# Debugger launch settings
launchSettings.json