* text=auto

# patch files need lf line-endings, even on Windows
*.patch text eol=lf

*.sh text eol=lf

# The CSharp runtime is the only folder from antlr4 we want in the VMR
src/externalPackages/src/antlr4/runtime/CSharp/** vmr-keep
