###############################################################################
# Build Artifacts
###############################################################################
artifacts/
bin/
obj/
.dotnet/

###############################################################################
# Visual Studio
###############################################################################
.vs/
