-SourceToolsList @("policheck","credscan")
-ArtifactToolsList @("binskim")
-TsaInstanceURL https://devdiv.visualstudio.com/
-TsaProjectName DEVDIV
-TsaNotificationEmail wffteam@microsoft.com
-TsaCodebaseAdmin REDMOND\advolker
-TsaBugAreaPath "DevDiv\NET Fundamentals\WindowsDesktop"
-TsaIterationPath DevDiv
-TsaRepositoryName WindowsDesktop
-TsaCodebaseName WindowsDesktop
-TsaOnboard $True
-TsaPublish $True